<html>
<head>
    <!--CSS-->
    <link rel="stylesheet" href="css.css">
    <!--<title>Sellerfox Statistics</title>-->
    <script src="http://code.jquery.com/jquery-latest.js"></script>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
    <!--Sortable tables js-->
    <script src="http://www.kryogenix.org/code/browser/sorttable/sorttable.js"></script>
    <!-- Google Charts -->
    <script type="text/javascript" src="https://www.google.com/jsapi"></script>
    <script type="text/javascript">
        google.load("visualization", "1", {packages:["corechart"]});
        google.setOnLoadCallback(drawChart_1);
        google.setOnLoadCallback(drawChart_3);
        function drawChart_1() {
            var data = google.visualization.arrayToDataTable([
                ['Task', 'Hours per Day'],
                {{ range $key, $value := .client_land }}
                ['{{ index . 1 }}', parseInt({{ index . 0 }}, 10)],
                {{ end }}
            ]);

            var random_angle = Math.floor(Math.random() * (359 - 0 + 1)) + 0;

            var options = {
                pieHole: 0.5,
                pieSliceText: 'none',
                pieStartAngle: random_angle,
                colors: ['#429742', '#60B560', '#7ED37E', '#9CF19C'],
                legend: { position: 'none' },
                tooltip: { showColorCode: true, text: 'both', trigger: 'selection' },
                sliceVisibilityThreshold: 1/180,
            };

            var chart = new google.visualization.PieChart(document.getElementById('donutchart_1'));
            chart.draw(data, options);
        }

        function drawChart_3() {
            var data = google.visualization.arrayToDataTable([
                ['Task', 'Hours per Day'],
                {{ range $key, $value := .client_title }}
                ['{{ index . 1 }}', parseInt({{ index . 0 }}, 10)],
                {{ end }}
            ]);

            var random_angle = Math.floor(Math.random() * (359 - 0 + 1)) + 0;

            var options = {
                pieHole: 0.5,
                pieSliceText: 'none',
                pieStartAngle: random_angle,
                colors: ['#EB9317', '#CD7D12', '#B06B0F', '#EEA33C', '#F2BA6F', '#FCF8E3'],
                legend: {position: 'none'},
                tooltip: { showColorCode: true, text: 'both', trigger: 'selection' },
                sliceVisibilityThreshold: 1/180,
            };

            var chart = new google.visualization.PieChart(document.getElementById('donutchart_3'));
            chart.draw(data, options);
        }
    </script>

    <!--Show/Hide functions -->
    <script type="text/javascript" src="js.js"></script>
</head>
<body>
        <div class="menu">
            <form action="form_queries_clients" method="POST" class="form">
                <input id="submit_button_queries_clients" type="submit" value="Check Clients' Statistics" class="btn btn-default btn-block btn-lg"/>
            </form>
            <form action="form_queries_galleries" method="POST" class="form">
                <input id="submit_button_queries_galleries" type="submit" value="Check Galleries' Statistics" class="btn btn-default btn-block btn-lg"/>
            </form>
            <form action="form_update_clients" method="POST" class="form">
                <input id="submit_button_update_clients" type="submit" value="Update Clients' Statistics" class="btn btn-default btn-block btn-lg"/>
            </form>
            <form action="form_update_galleries" method="POST" class="form">
                <input id="submit_button_update_galleries" type="submit" value="Update Galleries' Statistics" class="btn btn-default btn-block btn-lg"/>
            </form>
            <form action="form_update_contracts" method="POST" class="form">
                <input id="submit_button_update_contracts" type="submit" value="Update Clients' Contracts" class="btn btn-default btn-block btn-lg"/>
            </form>
        </div>

    <input id="button_show" type="button" value="Clients' countries" class="btn btn-success btn-block btn-lg show_button" onclick="show_div_1()"/>
    <input id="button_show" type="button" value="Subscription stats" class="btn btn-info btn-block btn-lg show_button" onclick="show_div_2()"/>
    <input id="button_show" type="button" value="Subscription types" class="btn btn-warning btn-block btn-lg show_button" onclick="show_div_3()"/>

    <div id="div_1" class="show_hide_div">
        <div style="float:left;">
        <table class="table table-hover table-condensed table-bordered">
            <tr class="success">
                <td>
                    Country
                </td>
                <td>
                    Clients
                </td>
            </tr>
        {{ range $key, $value := .client_land }}
            <tr>
                <td>
                    {{ index . 1 }}
                </td>
                <td>
                    {{ index . 0 }}
                </td>
            </tr>
        {{ end }}
            <tr class="success">
                <td>
                    Total
                </td>
                <td>
                    {{ .total_clients }}
                </td>
            </tr>
        </table>
        </div>
        <div id="donutchart_1" class="doughnut"></div>
    </div>
    <div id="div_2" class="show_hide_div">
        <table class="table table-hover table-condensed table-bordered">
            <tr class="info">
                <td>
                    Statistic
                </td>
                <td>
                    Clients
                </td>
            </tr>
            <tr>
                <td>
                    Cancelled
                </td>
                <td>
                    {{ .client_cancelled }}
                </td>
            </tr>
            <tr>
                <td>
                    Blocked
                </td>
                <td>
                    {{ .client_blocked }}
                </td>
            </tr>
            <tr>
                <td>
                    Free Account
                </td>
                <td>
                    {{ index .client_price 0 0 }}
                </td>
            </tr>
            <tr>
                <td>
                    Cheapest Sub
                </td>
                <td>
                    {{ index .client_price 2 1 }}
                </td>
            </tr>
            <tr class="info">
                <td>
                    Average Price
                </td>
                <td>
                    Clients
                </td>
            </tr>
            <tr>
                <td>
                    {{ index .client_price 1 0 }}
                </td>
                <td>
                    {{ index .client_price 1 1 }}
                </td>
            </tr>
        </table>
    </div>
    <div id="div_3" class="show_hide_div">
        <div style="float: left;">
        <table class="table table-hover table-condensed table-bordered sortable">
            <tr class="warning">
                <td>
                    Sub Type
                </td>
                <td>
                    Clients
                </td>
            </tr>
        {{ range $key, $value := .client_title }}
            <tr>
                <td>
                    {{ index . 1 }}
                </td>
                <td>
                    {{ index . 0 }}
                </td>
            </tr>
        {{ end }}
        </table>
        </div>
        <div id="donutchart_3" class="doughnut"></div>
    </div>
</body>
</html>

