<html>
<head>
    <!--CSS-->
    <link rel="stylesheet" href="css.css">
    <!--<title>Sellerfox Statistics</title>-->
    <script src="http://code.jquery.com/jquery-latest.js"></script>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
    <!--Sortable tables js-->
    <script src="http://www.kryogenix.org/code/browser/sorttable/sorttable.js"></script>
    <!-- Google Charts -->
    <script type="text/javascript" src="https://www.google.com/jsapi"></script>
    <script type="text/javascript">
        google.load("visualization", "1", {packages:["corechart"]});
        google.setOnLoadCallback(drawChart_1);
        google.setOnLoadCallback(drawChart_2);
        google.setOnLoadCallback(drawChart_3);
        google.setOnLoadCallback(drawChart_4);
        function drawChart_1() {
            var data = google.visualization.arrayToDataTable([
                ['Task', 'Hours per Day'],
                {{ range $key, $value := .gallery_type }}
                ['{{ index . 1 }}', parseInt({{ index . 0 }}, 10)],
                {{ end }}
            ]);

            var random_angle = Math.floor(Math.random() * (359 - 0 + 1)) + 0;

            var options = {
                pieHole: 0.5,
                pieSliceText: 'none',
                pieStartAngle: random_angle,
                colors: ['#429742', '#60B560', '#7ED37E', '#9CF19C'],
                legend: {position: 'none'},
                tooltip: { showColorCode: true, text: 'both', trigger: 'selection' },
                sliceVisibilityThreshold: 1/180,
            };

            var chart = new google.visualization.PieChart(document.getElementById('donutchart_1'));
            chart.draw(data, options);
        }

        function drawChart_2() {
            var data = google.visualization.arrayToDataTable([
                ['Task', 'Hours per Day'],
                {{ range $key, $value := .gallery_lang }}
                ['{{ index . 1 }}', parseInt({{ index . 0 }}, 10)],
                {{ end }}
            ]);

            var random_angle = Math.floor(Math.random() * (359 - 0 + 1)) + 0;

            var options = {
                pieHole: 0.5,
                pieSliceText: 'none',
                pieStartAngle: random_angle,
                colors: ['#2CACD2', '#5ABFDC', '#84CFE6', '#2592B1', '#1F7892'],
                legend: {position: 'none'},
                tooltip: { showColorCode: true, text: 'both', trigger: 'selection' },
                sliceVisibilityThreshold: 1/180,
            };

            var chart = new google.visualization.PieChart(document.getElementById('donutchart_2'));
            chart.draw(data, options);
        }

        function drawChart_3() {
            var data = google.visualization.arrayToDataTable([
                ['Task', 'Hours per Day'],
                {{ range $key, $value := .gallery_auct }}
                ['{{ index . 1 }}', parseInt({{ index . 0 }}, 10)],
                {{ end }}
            ]);

            var random_angle = Math.floor(Math.random() * (359 - 0 + 1)) + 0;

            var options = {
                pieHole: 0.5,
                pieSliceText: 'none',
                pieStartAngle: random_angle,
                colors: ['#EB9317', '#CD7D12', '#B06B0F', '#EEA33C', '#F2BA6F', '#FCF8E3'],
                legend: {position: 'none'},
                tooltip: { showColorCode: true, text: 'both', trigger: 'selection' },
                sliceVisibilityThreshold: 1/180,
            };

            var chart = new google.visualization.PieChart(document.getElementById('donutchart_3'));
            chart.draw(data, options);
        }

        function drawChart_4() {
            var data = google.visualization.arrayToDataTable([
                ['Task', 'Hours per Day'],
                {{ range $key, $value := .gallery_client }}
                ['{{ index . 1 }}', parseInt({{ index . 0 }}, 10)],
                {{ end }}
            ]);

            var random_angle = Math.floor(Math.random() * (359 - 0 + 1)) + 0;

            var options = {
                pieHole: 0.5,
                pieSliceText: 'none',
                pieStartAngle: random_angle,
                colors: ['#C12F2B', '#A62724', '#811F1D', '#D84F4B', '#E07774'],
                legend: {position: 'none'},
                tooltip: { showColorCode: true, text: 'both', trigger: 'selection' },
                sliceVisibilityThreshold: 1/180,
            };

            var chart = new google.visualization.PieChart(document.getElementById('donutchart_4'));
            chart.draw(data, options);
        }
    </script>

    <!--Show/Hide functions -->
    <script type="text/javascript" src="js.js"></script>
</head>
<body>
        <div class="menu">
            <form action="form_queries_clients" method="POST" class="form">
                <input id="submit_button_queries_clients" type="submit" value="Check Clients' Statistics" class="btn btn-default btn-block btn-lg"/>
            </form>
            <form action="form_queries_galleries" method="POST" class="form">
                <input id="submit_button_queries_galleries" type="submit" value="Check Galleries' Statistics" class="btn btn-default btn-block btn-lg"/>
            </form>
            <form action="form_update_clients" method="POST" class="form">
                <input id="submit_button_update_clients" type="submit" value="Update Clients' Statistics" class="btn btn-default btn-block btn-lg"/>
            </form>
            <form action="form_update_galleries" method="POST" class="form">
                <input id="submit_button_update_galleries" type="submit" value="Update Galleries' Statistics" class="btn btn-default btn-block btn-lg"/>
            </form>
            <form action="form_update_contracts" method="POST" class="form">
                <input id="submit_button_update_contracts" type="submit" value="Update Clients' Contracts" class="btn btn-default btn-block btn-lg"/>
            </form>
        </div>

    <input id="button_show" type="button" value="Gallery types" class="btn btn-success btn-block btn-lg show_button" onclick="show_div_1()"/>
    <input id="button_show" type="button" value="Galleries' languages" class="btn btn-info btn-block btn-lg show_button" onclick="show_div_2()"/>
    <input id="button_show" type="button" value="Auctions per page" class="btn btn-warning btn-block btn-lg show_button" onclick="show_div_3()"/>
    <input id="button_show" type="button" value="Galleries per user" class="btn btn-danger btn-block btn-lg show_button" onclick="show_div_4()"/>
    <input id="button_show" type="button" value="Custom gallery options" class="btn btn-primary btn-block btn-lg show_button" onclick="show_div_5()"/>

    <div class="show_hide_div" id="div_1">
        <div style="float: left;">
        <table class="table table-hover table-condensed table-bordered">
            <tr class="success">
                <td>
                    Gallery Type
                </td>
                <td>
                    Galleries
                </td>
            </tr>
            {{ range $key, $value := .gallery_type }}
            <tr>
                <td>
                    {{ index . 1 }}
                </td>
                <td>
                    {{ index . 0 }}
                </td>
            </tr>
            {{ end }}
            <tr class="success">
                <td>
                    Total
                </td>
                <td>
                    {{ .gallery_total }}
                </td>
            </tr>
        </table>
        </div>
        <div id="donutchart_1" class="doughnut"></div>
    </div>
    <div class="show_hide_div" id="div_2">
        <div style="float: left;">
        <table class="table table-hover table-condensed table-bordered sortable">
            <tr class="info">
                <td>
                    Language
                </td>
                <td>
                    Galleries
                </td>
            </tr>
            {{ range $key, $value := .gallery_lang }}
            <tr>
                <td>
                    {{ index . 1 }}
                </td>
                <td>
                    {{ index . 0 }}
                </td>
            </tr>
            {{ end }}
        </table>
        </div>
        <div id="donutchart_2" class="doughnut"></div>
    </div>
    <div class="show_hide_div" id="div_3">
        <div style="float: left;">
        <table class="table table-hover table-condensed table-bordered sortable">
                <tr class="warning">
                    <td>
                        Auctions per page
                    </td>
                    <td>
                        Galleries
                    </td>
                </tr>
            {{ range $key, $value := .gallery_auct }}
                <tr>
                    <td>
                        {{ index . 1 }}
                    </td>
                    <td>
                        {{ index . 0 }}
                    </td>
                </tr>
            {{ end }}
        </table>
        </div>
        <div id="donutchart_3" class="doughnut"></div>
    </div>
    <div class="show_hide_div" id="div_4">
        <div style="float: left;">
        <table class="table table-hover table-condensed table-bordered sortable">
                <tr class="danger">
                    <td>
                        Galleries per user
                    </td>
                    <td>
                        Clients
                    </td>
                </tr>
            {{ range $key, $value := .gallery_client }}
                <tr>
                    <td>
                        {{ index . 1 }}
                    </td>
                    <td>
                        {{ index . 0 }}
                    </td>
                </tr>
            {{ end }}
        </table>
        </div>
        <div id="donutchart_4" class="doughnut"></div>
    </div>
    <div class="show_hide_div" id="div_5">
        <table class="table table-hover table-condensed table-bordered">
            <tr class="info">
                <td>
                    Statistic
                </td>
                <td>
                    Dimensions
                </td>
            </tr>
            <tr>
                <td>
                    Average size (W x H)
                </td>
                <td>
                    {{index .gallery_wh 2 0}} x {{index .gallery_wh 2 1}}
                </td>
            </tr>
            <tr>
                <td>
                    Average size (no defaults*)
                </td>
                <td>
                    {{index .gallery_wh 1 0}} x {{index .gallery_wh 1 1}}
                </td>
            </tr>
            <tr>
                <td>
                    Average size (no defaults* and extremes**)
                </td>
                <td>
                    {{index .gallery_wh 0 0}} x {{index .gallery_wh 0 1}}
                </td>
            </tr>
            <tr class="info">
                <td>
                    Statistic
                </td>
                <td>
                    Galleries
                </td>
            </tr>
            <tr>
                <td>
                    Galleries with default names
                </td>
                <td>
                    {{index .gallery_names }}
                </td>
            </tr>
        </table>
        *default gallery sizes are 	500 x 300 and 960 x 830 <br>
        **extreme sizes are less than 200 and larger than 1000
    </div>
</body>
</html>
