.menu {
    display: inline-block;
    text-align: center;
    margin: 0 auto;
    width: 100%;
}
.form {
    float: left;
    margin: 0.5%;
    width: 19%;
}
.body {
    margin: 0.5%;
    padding: 0.5%;
    width: 99%;
}
.show_button {
    width: 19% !important;
    margin: 0.5% !important;
}
.show_hide_div {
    position: absolute;
    top: calc(1% + 52px);
    left: 20%;
    margin: 0.5%;
    visibility: hidden;
}
.btn {
    border-radius: 0px !important;
}
.table {
    text-align: center !important;
}
.doughnut {
    width: 660px;
    height: 660px;
    position: absolute;
    left: 340px;
}